
/* PRODUCTS */

.img-pr-1 {
    background-image: url("../images/productos/productosf.png");
    background-color: rgba(12, 12, 12,0.5);
    background-blend-mode: color;
    min-height: 450px;
}


.caption-left {
    position: absolute;
    left: 12%;
    top: 18%;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caption-left h1 {
    font-size: 2.5em;
    letter-spacing: 3px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 60px;   
}

.caption-left ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    font-size: 2em;
    letter-spacing: 5px;
    background-color: transparent;
    color: rgba(105, 105, 105, 0.6);
    
}

.caption-left li {
    padding-right: 30px;
    padding-left: 30px;
}
#first {
    padding-left: 0;
}

a {
    text-decoration: none !important;
    color: rgba(105, 105, 105, 0.6) !important;
}

a:hover {
    color: rgba(255, 255, 255, 0.6) !important;
}

/* MEDIA QUERYS PRODUCTS */ 
@media (max-width: 768px) { 
    .caption-left {
        display: block;
    }
    .caption-left h1{
        text-align: center;
    }
    .caption-left p {
        width: 92%;
    }
}

.section-products {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.section-products-text {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.section-products-text p {
    font-size: 20px;
}

.section-products-text h3 {
    margin-bottom: 0;
}

.section-products-text-item {
    padding-bottom: 20px;
}

.section-products-img {
    width: 60%;
    padding-bottom: 40px;
}

.item-img {
    width: 100%;
}