@import url('https://fonts.googleapis.com/css2?family=Varta&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varta', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
.welcome {
    width: 100%;
    height: 800px;
    padding-bottom: 50px;
    color: white;
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.reel {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    color: rgb(247, 242, 242);
    text-align: center;
}

/* Video */
.video-js {
    width: 100% !important;
}

/* NAVBAR */

nav {
    z-index: 10000;
    width: 100%;
    height: 90px;
    background-color:#0c0c0c;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

#logo-nav {
    height: 90px;
    padding: 20px;
}



nav ul{
    display: flex;
    float: right;
    margin: 0;
    padding-left: 100px;

    font-family: 'Varta', sans-serif;
    list-style-type: none;
    font-size: 1.5em;

    background-color: #0c0c0c;
    overflow-x: hidden;
    
} 

nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px;
    line-height: 50px;
}

nav ul li a:hover {
    transition: .2s;
    color: #E87317;
}

.btn-ul {
    text-align: right;
    padding: 0;
}


#check, .hamburger {
    display: none;
}

.brands-menu {
    display: none;
}


/* CONTENIDO  */

.content {
    background-color: #d8d4d4;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-direction: column;
    align-items: center;
    
    height: 500px;
}

.content-title {
    padding: 40px;
    margin-bottom: 0;
    font-size: 4em;
    letter-spacing: 6px;
    color:rgb(0, 0, 0);
    align-self: center;
}

.content-body {
    display: flex;
    flex-direction: row; 
    width: 80%;
    height: 40%;
    justify-content: space-between;
}

.content-body-items {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 100%; /*del contenedor flex, es decir, content-body */
    text-align: center;
}

#prod {
    background-color: #d8d4d4;
}

#serv {
    background-color: #0c0c0c;
}

#serv .content-title {
    color: #fff;
}

#trab {
    background-color: #d8d4d4;
}

/*  FOOTER */

.footer {
    background-color: black;
    text-align: center;
}

.footer p {
    color: rgba(255, 255, 255, 0.308);
    width: 80%;
    margin: auto;
}

.footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.527);
}

/* CONTACT FORM */

.bg-image {
    background-image: url('../images/logos/Copia\ de\ Isologotipo\ Blanco\ SVG.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact {
    background-color: black;
    height: 600px;
}

.card {
    background-color: black !important;
}

.contacto-title {
    font-size: 3em !important;
    letter-spacing: 4px;
    color:#fff;
}

.btn-primary {
    color: rgb(14, 1, 1) !important;
    background-color: rgb(232, 115, 23) !important;
    border-color: rgb(232, 115, 23) !important;
}


/* MEDIA QUERYS */

/* NAVBAR */
@media screen and (max-width:800px){ 
    nav ul{
        display: flex;
        flex-flow: column wrap; 
        margin: 0;
        padding-left: 50px;
        width: 40%;
        height: 100%;
        font-family: 'Varta', sans-serif;
    
        list-style-type: none;
        font-size: 1.5em;
        letter-spacing: 0.5px;
        
        text-align: left;
        position: fixed;
        background-color: #0c0c0c;
        top: 0px;
        transition: .5s;
        overflow-x: hidden;
        right: -200%; /*esto lo esconde */
    }

    nav ul li a:hover {
        transition: .2s;
        color: #E87317;
    }
    
    .hamburger {
        font-size: 40px;
        padding: 25px;
        line-height: 50px;
        cursor: pointer;
        display: block;
    }
    
    .hamburger i{
        color: #fff;
    }
    .hamburger i:hover{
        color: #E87317;
    }
    
    #check {
       display: none;
    }
    
    #check:checked ~ ul{
        right: 0px;
    } 

    .fa-brands {
        font-size: 1.5em;
        color: rgba(255, 255, 255, 0.308);
    }

    .fa-brands:hover {
        color: #fff;
    }

    .brands-menu {
        display: flex;
        flex-direction: row;
    }

    .brands-menu a {
        padding-right: 6px;
    }
    
}
